## Question 1

Take two integer numbers and return their product. If the product is greater than 1000, then return their sum if product is less than 1000 return product value only.

In [ ]:
a= 100
b=50
add=0
result= a*b
if result >1000:
  add = a+b
  print(add)
else:
  print(result)

150

## question 2

Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum of the current number and previous number

Expected output:
-----------------
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [ ]:
add=0
p=0
for i in range(10):
  add=i+p
  print('Current Number', i,'previous_number', p,'Sum', add )
  p=i

Current Number 0 previous_number 0 Sum 0
Current Number 1 previous_number 0 Sum 1
Current Number 2 previous_number 1 Sum 3
Current Number 3 previous_number 2 Sum 5
Current Number 4 previous_number 3 Sum 7
Current Number 5 previous_number 4 Sum 9
Current Number 6 previous_number 5 Sum 11
Current Number 7 previous_number 6 Sum 13
Current Number 8 previous_number 7 Sum 15
Current Number 9 previous_number 8 Sum 17

## question 3

Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string

Example :
("pynative", 4) so output must be tive.

Note: n must be less than the length of the string.

In [ ]:
my_str= "pynative"
n=4
op=my_str[n:]
print(op)

## question 4

Given a list of numbers, return True if first and last number of a list is same

Expected Output:
-------------------------------------

Given list is 
a =  [10, 20, 30, 40, 10]
b = [10 , 20 , 30 , 40, 10 ]
result is True

Given list is  
a = [10, 20, 30, 40, 50]
b = [11 , 21 , 31 , 41 , 51 ] 
result is False

In [ ]:
a=[10,20,30,40,50]
b=[11,21,31,41,51]

if a[0]==b[0] and a[-1]==b[-1]:
  print('result is True')

else:
  print('result is False')

result is False

## question 5

# Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]


Expected output:
-----------------------------
10 400
20 300
30 200
40 100

In [ ]:
list1 = [10, 20, 30, 40] 
list2 = [100, 200, 300, 400]
list2 = list2[::-1]
final=[]
for x,y in zip(list1,list2):
    final.append(x)
    final.append(y)
    
print(final)

[10, 400, 20, 300, 30, 200, 40, 100]

## question 6

Remove empty strings from the list of strings


list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

Expected output:
----------------------

["Mike", "Emma", "Kelly", "Brad"]

In [ ]:
list1 = ["Mike", " ", "Emma", "Kelly", " ", "Brad"]
l2 = []
for ele in list1:
  if ele != " ":
    l2.append(ele)
print(l2)

['Mike', 'Emma', 'Kelly', 'Brad']

### Question 7

Find the palindrome of a number 

input = 121
output = 121

it is a palindrome number


input = 123
output = 321 

it is not a palindrome number

In [ ]:
num= 123
temp=num
count=0
d=0
while temp>0:
  d= temp%10
  count= (count*10) + d
  temp=temp//10
if count==num:
  print("palindrome number")
else:
  print("not a palidrome number")

not a palidrome number